In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import tensorflow as tf
from tensorflow import keras

In [ ]:
from typing import Sequence
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import np_utils

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
file_data = pd.read_csv('/content/water_potability.csv')
file_data

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [ ]:
file_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [ ]:
cols = list(file_data.columns)
cols.remove('Potability')
print('Параметры,которые будут использоваться в иследовании:')
for i,col, in enumerate(cols):
  print(f'{i+1}. {col}')

Параметры,которые будут использоваться в иследовании:
1. ph
2. Hardness
3. Solids
4. Chloramines
5. Sulfate
6. Conductivity
7. Organic_carbon
8. Trihalomethanes
9. Turbidity

In [ ]:
print('Оригинальный файл Original DF\n',file_data)
print('_________________________________________')
file_data = file_data.fillna(0)
print('\n Модифицированный файл без NaN - Modified DataFrame\n', file_data)

Оригинальный файл Original DF
             ph    Hardness        Solids  Chloramines     Sulfate  \
0     0.000000  204.890455  20791.318981     7.300212  368.516441
1     3.716080  129.422921  18630.057858     6.635246    0.000000
2     8.099124  224.236259  19909.541732     9.275884    0.000000
3     8.316766  214.373394  22018.417441     8.059332  356.886136
4     9.092223  181.101509  17978.986339     6.546600  310.135738
...        ...         ...           ...          ...         ...
3271  4.668102  193.681735  47580.991603     7.166639  359.948574
3272  7.808856  193.553212  17329.802160     8.061362    0.000000
3273  9.419510  175.762646  33155.578218     7.350233    0.000000
3274  5.126763  230.603758  11983.869376     6.303357    0.000000
3275  7.874671  195.102299  17404.177061     7.509306    0.000000

      Conductivity  Organic_carbon  Trihalomethanes  Turbidity  Potability
0       564.308654       10.379783        86.990970   2.963135           0
1       592.885359       15.180013        56.329076   4.500656           0
2       418.606213       16.868637        66.420093   3.055934           0
3       363.266516       18.436524       100.341674   4.628771           0
4       398.410813       11.558279        31.997993   4.075075           0
...            ...             ...              ...        ...         ...
3271    526.424171       13.894419        66.687695   4.435821           1
3272    392.449580       19.903225         0.000000   2.798243           1
3273    432.044783       11.039070        69.845400   3.298875           1
3274    402.883113       11.168946        77.488213   4.708658           1
3275    327.459760       16.140368        78.698446   2.309149           1

[3276 rows x 10 columns]
_________________________________________

 Модифицированный файл без NaN - Modified DataFrame
             ph    Hardness        Solids  Chloramines     Sulfate  \
0     0.000000  204.890455  20791.318981     7.300212  368.516441
1     3.716080  129.422921  18630.057858     6.635246    0.000000
2     8.099124  224.236259  19909.541732     9.275884    0.000000
3     8.316766  214.373394  22018.417441     8.059332  356.886136
4     9.092223  181.101509  17978.986339     6.546600  310.135738
...        ...         ...           ...          ...         ...
3271  4.668102  193.681735  47580.991603     7.166639  359.948574
3272  7.808856  193.553212  17329.802160     8.061362    0.000000
3273  9.419510  175.762646  33155.578218     7.350233    0.000000
3274  5.126763  230.603758  11983.869376     6.303357    0.000000
3275  7.874671  195.102299  17404.177061     7.509306    0.000000

      Conductivity  Organic_carbon  Trihalomethanes  Turbidity  Potability
0       564.308654       10.379783        86.990970   2.963135           0
1       592.885359       15.180013        56.329076   4.500656           0
2       418.606213       16.868637        66.420093   3.055934           0
3       363.266516       18.436524       100.341674   4.628771           0
4       398.410813       11.558279        31.997993   4.075075           0
...            ...             ...              ...        ...         ...
3271    526.424171       13.894419        66.687695   4.435821           1
3272    392.449580       19.903225         0.000000   2.798243           1
3273    432.044783       11.039070        69.845400   3.298875           1
3274    402.883113       11.168946        77.488213   4.708658           1
3275    327.459760       16.140368        78.698446   2.309149           1

[3276 rows x 10 columns]

In [ ]:
file_data['Sulfate'].value_counts(normalize=True)

0.000000      0.238400
280.745623    0.000305
332.744519    0.000305
391.918229    0.000305
330.905370    0.000305
                ...
343.620823    0.000305
359.710517    0.000305
389.219586    0.000305
337.231469    0.000305
359.948574    0.000305
Name: Sulfate, Length: 2496, dtype: float64

In [ ]:
y = file_data['Potability']
x = file_data.drop('Potability', axis = 1)
print(y)
print(x)

0       0
1       0
2       0
3       0
4       0
       ..
3271    1
3272    1
3273    1
3274    1
3275    1
Name: Potability, Length: 3276, dtype: int64
            ph    Hardness        Solids  Chloramines     Sulfate  \
0     0.000000  204.890455  20791.318981     7.300212  368.516441
1     3.716080  129.422921  18630.057858     6.635246    0.000000
2     8.099124  224.236259  19909.541732     9.275884    0.000000
3     8.316766  214.373394  22018.417441     8.059332  356.886136
4     9.092223  181.101509  17978.986339     6.546600  310.135738
...        ...         ...           ...          ...         ...
3271  4.668102  193.681735  47580.991603     7.166639  359.948574
3272  7.808856  193.553212  17329.802160     8.061362    0.000000
3273  9.419510  175.762646  33155.578218     7.350233    0.000000
3274  5.126763  230.603758  11983.869376     6.303357    0.000000
3275  7.874671  195.102299  17404.177061     7.509306    0.000000

      Conductivity  Organic_carbon  Trihalomethanes  Turbidity
0       564.308654       10.379783        86.990970   2.963135
1       592.885359       15.180013        56.329076   4.500656
2       418.606213       16.868637        66.420093   3.055934
3       363.266516       18.436524       100.341674   4.628771
4       398.410813       11.558279        31.997993   4.075075
...            ...             ...              ...        ...
3271    526.424171       13.894419        66.687695   4.435821
3272    392.449580       19.903225         0.000000   2.798243
3273    432.044783       11.039070        69.845400   3.298875
3274    402.883113       11.168946        77.488213   4.708658
3275    327.459760       16.140368        78.698446   2.309149

[3276 rows x 9 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,random_state = 12345,test_size=0.33)
print(x_train)

            ph    Hardness        Solids  Chloramines     Sulfate  \
2431  8.205551  204.665829  17414.520623     6.839622  276.770098
145   6.207433  192.937027  13442.603471     5.819023  325.906562
1178  7.186931  177.486533  34510.752995     4.984432  295.834151
229   0.000000  133.813115  18272.505973     5.911871    0.000000
645   0.000000  241.895515  25717.936178     4.239997  369.541143
...        ...         ...           ...          ...         ...
2817  8.247958  195.539536  28327.167338     5.378286  281.229853
546   3.410360  207.397473  49074.730407     5.667433  301.975011
382   5.772718  213.363545  26124.931415     8.630719  273.279448
2177  8.026773  169.333843  19168.526773     8.081496  405.527337
482   7.705711  178.922858  18476.619166     8.226228  334.889911

      Conductivity  Organic_carbon  Trihalomethanes  Turbidity
2431    346.540729       12.505601        83.916749   5.129528
145     533.795851       14.687539        60.485033   3.549299
1178    477.994992       16.777540        62.756891   4.275645
229     415.211735       11.504506        92.975762   3.313199
645     474.937470       15.306063        48.374212   4.306218
...            ...             ...              ...        ...
2817    588.699193       18.076938        70.793036   4.723231
546     351.520393       15.987370        86.639186   3.721766
382     465.559286        8.006208        59.964334   6.494249
2177    350.577370       15.177534        68.003932   3.735983
482     518.043369       10.638798        63.157489   3.861956

[2194 rows x 9 columns]